USE [master]
GO
/****** Object:  Database [BeverageDW]    Script Date: 26-Feb-24 4:53:42 PM ******/
CREATE DATABASE [BeverageDW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BeverageDW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AmazonDW.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BeverageDW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\AmazonDW_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BeverageDW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BeverageDW]
GO
/****** Object:  Table [dbo].[DimCustomer]    Script Date: 26-Feb-24 4:53:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCustomer](
	[CustomerKey] [int] NOT NULL,
	[CustomerName] [varchar](40) NOT NULL,
	[CustomerCity] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimLocation]    Script Date: 26-Feb-24 4:53:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimLocation](
	[LocationKey] [int] NOT NULL,
	[Country] [varchar](50) NOT NULL,
	[State] [varchar](30) NOT NULL,
	[City] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimProduct]    Script Date: 26-Feb-24 4:53:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimProduct](
	[ProductKey] [int] NOT NULL,
	[ProductName] [varchar](40) NOT NULL,
	[ProductPrice] [money] NOT NULL,
	[CategoryName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimTime]    Script Date: 26-Feb-24 4:53:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimTime](
	[DateKey] [int] NOT NULL,
	[FullDate] [datetime] NULL,
	[YearNo] [int] NULL,
	[SemNo] [tinyint] NULL,
	[QtrNo] [tinyint] NULL,
	[MonthNo] [tinyint] NULL,
	[WeekNo] [tinyint] NULL,
	[DayNo] [tinyint] NULL,
	[EngMonthName] [varchar](10) NULL,
	[TelMonthName] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[DateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactSales]    Script Date: 26-Feb-24 4:53:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactSales](
	[ProductKey] [int] NOT NULL,
	[CustomerKey] [int] NOT NULL,
	[SaleDateKey] [int] NOT NULL,
	[QtySold] [int] NOT NULL,
	[SalesAmount] [money] NOT NULL,
	[DeliveryDateKey] [int] NOT NULL,
	[LocationKey] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[DimCustomer] ([CustomerKey], [CustomerName], [CustomerCity]) VALUES (1, N'Praveen T', N'Bangalore')
INSERT [dbo].[DimCustomer] ([CustomerKey], [CustomerName], [CustomerCity]) VALUES (2, N'John Kennedy', N'Dallas')
INSERT [dbo].[DimCustomer] ([CustomerKey], [CustomerName], [CustomerCity]) VALUES (3, N'Suneetha K', N'Hyderabad')
GO
INSERT [dbo].[DimLocation] ([LocationKey], [Country], [State], [City]) VALUES (101, N'India', N'Telangana', N'Hyderabad')
INSERT [dbo].[DimLocation] ([LocationKey], [Country], [State], [City]) VALUES (102, N'India', N'Andhara Pradesh', N'Vizag')
INSERT [dbo].[DimLocation] ([LocationKey], [Country], [State], [City]) VALUES (103, N'India', N'Andhara Pradesh', N'Vijayawada')
GO
INSERT [dbo].[DimProduct] ([ProductKey], [ProductName], [ProductPrice], [CategoryName]) VALUES (1, N'Coca cola', 15.0000, N'Soft drink')
INSERT [dbo].[DimProduct] ([ProductKey], [ProductName], [ProductPrice], [CategoryName]) VALUES (2, N'Mirinda sarsi', 15.0000, N'Soft drink')
INSERT [dbo].[DimProduct] ([ProductKey], [ProductName], [ProductPrice], [CategoryName]) VALUES (3, N'Fanta sarsi', 10.0000, N'Soft drink')
GO
INSERT [dbo].[DimTime] ([DateKey], [FullDate], [YearNo], [SemNo], [QtrNo], [MonthNo], [WeekNo], [DayNo], [EngMonthName], [TelMonthName]) VALUES (20190101, CAST(N'2019-01-01T00:00:00.000' AS DateTime), 2019, 1, 1, 1, 1, 1, N'January', N'Pausha')
INSERT [dbo].[DimTime] ([DateKey], [FullDate], [YearNo], [SemNo], [QtrNo], [MonthNo], [WeekNo], [DayNo], [EngMonthName], [TelMonthName]) VALUES (20190102, CAST(N'2019-01-02T00:00:00.000' AS DateTime), 2019, 1, 1, 1, 1, 2, N'January', N'Pausha')
INSERT [dbo].[DimTime] ([DateKey], [FullDate], [YearNo], [SemNo], [QtrNo], [MonthNo], [WeekNo], [DayNo], [EngMonthName], [TelMonthName]) VALUES (20190103, CAST(N'2019-01-03T00:00:00.000' AS DateTime), 2019, 1, 1, 1, 1, 3, N'January', N'Pausha')
GO
INSERT [dbo].[FactSales] ([ProductKey], [CustomerKey], [SaleDateKey], [QtySold], [SalesAmount], [DeliveryDateKey], [LocationKey]) VALUES (10, 10, 20190103, 30, 6000.0000, 20190106, 112)
INSERT [dbo].[FactSales] ([ProductKey], [CustomerKey], [SaleDateKey], [QtySold], [SalesAmount], [DeliveryDateKey], [LocationKey]) VALUES (15, 12, 20190104, 300, 24000.0000, 20190107, 113)
INSERT [dbo].[FactSales] ([ProductKey], [CustomerKey], [SaleDateKey], [QtySold], [SalesAmount], [DeliveryDateKey], [LocationKey]) VALUES (17, 22, 20190115, 30, 1800.0000, 20190118, 109)
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD FOREIGN KEY([CustomerKey])
REFERENCES [dbo].[DimCustomer] ([CustomerKey])
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD FOREIGN KEY([DeliveryDateKey])
REFERENCES [dbo].[DimTime] ([DateKey])
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD FOREIGN KEY([LocationKey])
REFERENCES [dbo].[DimLocation] ([LocationKey])
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD FOREIGN KEY([ProductKey])
REFERENCES [dbo].[DimProduct] ([ProductKey])
GO
ALTER TABLE [dbo].[FactSales]  WITH CHECK ADD FOREIGN KEY([SaleDateKey])
REFERENCES [dbo].[DimTime] ([DateKey])
GO
/****** Object:  StoredProcedure [dbo].[GenerateDimTime]    Script Date: 26-Feb-24 4:53:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  
CREATE proc [dbo].[GenerateDimTime]  
(  
 --Input parameters: Start Date and End Date    
 @startdate datetime  ='2019-01-01',  
 @enddate   datetime  ='2025-12-31'  
   
)  
As  
Begin --Start of Sp  
Declare @dk int,  
  @yn int,@smn int,  
  @Qn int,  
  @mno int,  
  @wkn int,  
  @dn int,  
  @mn varchar(10),  
  @Tmn Varchar (20)  
    
  
set @yn=DATEPART(YY,@startdate)  
set @Qn=DATEPART(QQ,@startdate)  
set @smn=(select case when @Qn > 2 then 2 else 1 end )  
set @mno=DATEPART(MM,@startdate)  
set @wkn=DATEPART(WW,@startdate)  
set @dn=DATEPART(DD,@startdate)  
set @mn=DATENAME(MM,@startdate)  
set @Tmn=(select case when @mno=1 then 'Pausha'  
                      when @mno=2 then 'Magha'  
                      when @mno=3 then 'Phalguna'  
                      when @mno=4 then 'Chaitra'  
                      when @mno=5 then 'Vaisakha'  
                      when @mno=6 then 'Jyeshta'  
                      when @mno=7 then 'Ashada'  
                      when @mno=8 then 'Shraavana'  
                      when @mno=9 then 'Bhadrapada'  
                      when @mno=10 then 'Ashwina'  
                      when @mno=11 then 'Karthika'  
                   Else 'Marghasira'  
                   End)  
  
--  
while (@startdate<=@enddate)  
 Begin   
  set @dk=(Select CONVERT (char(8),@startdate,112))  
    
	--insert into DimTime
	 Insert into DimTime values (@dk,@startdate,@yn,@smn,@Qn,@mno,@wkn,@dn,@mn,@Tmn)       
     set @startdate=@startdate+1  
     set @yn=DATEPART(YY,@startdate)       
  set @Qn=DATEPART(QQ,@startdate)  
  set @smn=(select case when @Qn > 2 then 2 else 1 end )  
  set @mno=DATEPART(MM,@startdate)  
  set @wkn=DATEPART(WW,@startdate)      
  set @dn=DATEPART(DD,@startdate)  
  set @mn=DATENAME(MM,@startdate)  
  set @Tmn=(select case when @mno=1 then 'Pausha'  
                      when @mno=2 then 'Magha'  
                      when @mno=3 then 'Phalguna'  
                      when @mno=4 then 'Chaitra'  
                      when @mno=5 then 'Vaisakha'  
                      when @mno=6 then 'Jyeshta'  
                      when @mno=7 then 'Ashada'  
                      when @mno=8 then 'Shraavana'  
                      when @mno=9 then 'Bhadrapada'  
                      when @mno=10 then 'Ashwina'  
                      when @mno=11 then 'Karthika'  
                   Else 'Marghasira'  
                   End)  
  
 End       
End   --End of Sp
GO
/****** Object:  StoredProcedure [dbo].[InsertDimTime]    Script Date: 26-Feb-24 4:53:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertDimTime]
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @StartDate DATE = '2012-01-01';
    DECLARE @EndDate DATE = '2024-12-31';
    
    WHILE @StartDate <= @EndDate
    BEGIN
        INSERT INTO DimTime (DateKey, FullDate, YearNo, SemNo, QtrNo, MonthNo, WeekNo, DayNo, EngMonthName, TelMonthName)
        VALUES (CONVERT(INT, REPLACE(CONVERT(CHAR(10), @StartDate, 112), '-', '')),
                @StartDate,
                DATEPART(YEAR, @StartDate),
                CASE
                    WHEN DATEPART(MONTH, @StartDate) IN (1, 2) THEN 1
                    WHEN DATEPART(MONTH, @StartDate) IN (3, 4) THEN 2
                    WHEN DATEPART(MONTH, @StartDate) IN (5, 6) THEN 3
                    WHEN DATEPART(MONTH, @StartDate) IN (7, 8) THEN 4
                    WHEN DATEPART(MONTH, @StartDate) IN (9, 10) THEN 5
                    WHEN DATEPART(MONTH, @StartDate) IN (11, 12) THEN 6
                END,
                DATEPART(QUARTER, @StartDate),
                DATEPART(MONTH, @StartDate),
                DATEPART(WEEK, @StartDate),
                DATEPART(DAY, @StartDate),
                DATENAME(MONTH, @StartDate),
                'TeluguMonthName'); -- Replace 'TeluguMonthName' with the appropriate Telugu month name
        
        SET @StartDate = DATEADD(DAY, 1, @StartDate);
    END
END
GO
USE [master]
GO
